body { }

#map { width:75%; height: 400px; margin: auto;}

.ground-marker-green {
    background-size: cover;
    background-color: green;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 50%;
}

.ground-marker-red {
    background-size: cover;
    background-color: red;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 50%;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.app-ground-performance-selector {
    text-align: center;
    padding: 20px;
}

.app-ground-performance-description {
    text-align: center;
    padding-bottom: 20px;
}

.app-title {
    width: max-content;
    margin: auto;
}

.app-ground-performance-description {
    border: 1px solid lightgrey;
    width: max-content;
    min-width: 200px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

/* slope change */
.app-change-slope {
    text-align: center;
    padding-bottom: 20px;
}

.app-most-dismissals {
    text-align: center;
    padding-bottom: 20px;
}

.app-change-slope-selector {
    text-align: center;
    margin: auto;
    width: max-content;
    margin-top: 20px;
}

/*force layout*/
.link-7 {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
    stroke-opacity: 1.0;
}

.link-6 {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
    stroke-opacity: 0.8;
}

.link-5 {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}

.link-4 {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
    stroke-opacity: 0.2;
}

.node circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-bowler {
    fill: #ff9a71;
}

.node-batsmen {
    fill: #428043;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

.legend-node {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: ' ';
}

.bowler-node {
    background-color: #ff9a71;
}

.batsmen-node {
    background-color: #428043;
}

.allrounder-node {
    background-color: #000;
}